<!doctype html>

<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">

  <title>Lolperformance</title>
  <meta name="description" content="Lolperformance">
  <meta name="author" content="Aleksi Monaco">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    <link rel="stylesheet" href="{{ DOMAIN }}/templates/styles/styles.css">
    {% endblock %}
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span>LolPerformance</span>
                </a>
            </div>
        </div>
    </nav>
    
    <div id="content">
      <div id="search"></div>
      <div id="search-result"></div>
    </div>

    <div id="footer">{% block footer %}{% endblock %}</div>

  <!-- JS Dependencies -->
  <script src="{{ DOMAIN }}/app/js/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ DOMAIN }}/app/js/bower_components/underscore/underscore-min.js"></script>
  <script src="{{ DOMAIN }}/app/js/bower_components/backbone/backbone-min.js"></script>
  <script src="{{ DOMAIN }}/app/js/bower_components/handlebars/handlebars.min.js"></script>
  <script src="{{ DOMAIN }}/app/js/bower_components/moment/moment.js"></script>
  <script src="{{ DOMAIN }}/app/js/bower_components/Chart.js/Chart.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Handlebar templates -->
  <script src="{{ DOMAIN }}/app/frontpage.tpl.js"></script>
  <script src="{{ DOMAIN }}/app/searchresult.tpl.js"></script>

  <!-- App JS -->
  <script src="{{ DOMAIN }}/app/js/helpers.js"></script>
  <script src="{{ DOMAIN }}/app/js/models.js"></script>
  <script src="{{ DOMAIN }}/app/js/collections.js"></script>
  <script src="{{ DOMAIN }}/app/js/views.js"></script>
  <script src="{{ DOMAIN }}/app/js/main.js"></script>
</body>
</html>
