<!-- <div class="col-xs-12 col-sm-6">
     {{#if summoner}}
        <img src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/profileicon/{{ summoner.profileIconId }}.png" />
        <h5>Id: {{ summoner.id }}</h5>
        <h5>Name: {{ summoner.name }}</h5>
        <h5>profileIconId: {{ summoner.profileIconId }}</h5>
        <h5>revisionDate: {{ summoner.revisionDate }}</h5>
        <h5>summonerLevel: {{ summoner.summonerLevel }}</h5>
    {{/if}}
</div> -->

<div class="row">
{{#if matches}}
    {{#each matches}}
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-4">
                        <img class="match-champion-icon" alt="Champion icon" src="http://ddragon.leagueoflegends.com/cdn/{{ this.championData.version }}/img/champion/{{ this.championData.image_full }}" />
                    </div>
                    <div class="col-xs-4">
                        <h4>{{ this.gameMode }}</h4>
                        <h2>{{ this.since }}</h2>
                    </div>
                    <div class="col-xs-4">
                        <h4>{{#if this.stats.championsKilled }} {{ this.stats.championsKilled }} {{else}} 0 {{/if}} / {{ this.stats.numDeaths }} / {{ this.stats.assists }}</h4>
                        <h2>KDA {{ this.kda }}</h2>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <h1>Total kills in last 10 matches</h1>
        <canvas id="totalKills"></canvas>
    </div>
{{else}}
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Fetching data...</h3>
                <i class="fa fa-cog fa-spin fa-4x"></i>
            </div>
        </div>
    </div>
{{/if}}
</div>
